#mainHead {
    text-align: center;
    color: white;
}
.jumbotron {
    background-color: rgb(0, 0, 96);
}
.searchField {
    border:1px solid rgb(0, 0, 96);
    padding: 25px;
}

#searchParameters {
    background-color: rgb(0, 0, 96);
    color: white;
    font-size: 20pt;
}